*{
    background-color:rgb(88, 113, 115);
}

header h1{
    text-align: center;
    font-size:55px;
    background-color: rgb(17, 124, 143);
}

header{
    background : rgb(17, 124, 143);
    padding: .003%;
}

iframe{
    height: 55vh;

}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    font-size: 30px;
}

h2,h3{
	 text-align: center;
}

img,video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 10%;
}

iframe{
    margin-left: 30%;
    width: 500px;
    height: 500px;
}

video{
	width: 500px;
}

p{
	margin-right:20%; 
    margin-left:20%;
    font-size: 30px;
}

img{
    width: 300px;
    border-radius: 90%;
}

nav {
    overflow: hidden;
    background-color: #333;
}

a{
    background-color: #333;
}